@{
    ViewData["Title"] = "Index";
}
@model IndexViewModel

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://games.mail.ru/hotbox/content_files/gallery/2020/12/24/0bfa60d58df9494580c305d074a4908e.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://games.mail.ru/hotbox/content_files/gallery/2020/12/24/0bfa60d58df9494580c305d074a4908e.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://games.mail.ru/hotbox/content_files/gallery/2020/12/24/0bfa60d58df9494580c305d074a4908e.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<section>
    <h1>Наши модели </h1>
    <div class="cardsContainer">

        @foreach(var item in Model.typesComputerAssembly)
        {
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">@item.Item1</p>
                    <p class="card-text">От @item.Item2 </p>
                </div>
            </div>
        }
    </div>
</section>


<section>
    <h1>Лучшие сборки</h1>
    <div class="cardsContainer">
        @foreach(var item in Model.bestComputerAssemblies)
        {
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">@item.Id</p>
                    <p class="card-text">@item.CostPrice</p>
                </div>
            </div>
        }
    </div>
</section>


<section>
    <h1>Собрать самому</h1>
    <div class="cardsContainer">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">ФКонфигуратор</p>
                <p class="card-text">ОТ 10000</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Заказать</p>
                <p class="card-text">ОТ 3000(За услугу)</p>
            </div>
        </div>
    </div>
</section>

<section>
    <h1>Доверяй нам</h1>
    <div class="TextContainer">
        <img src="https://games.mail.ru/hotbox/content_files/gallery/2020/12/24/0bfa60d58df9494580c305d074a4908e.jpg" />
        <p>Текст про специалистов</p>
    </div>
    <div class="TextContainer">
        <p>Наша цель - помочь вам</p>
        <img src="https://games.mail.ru/hotbox/content_files/gallery/2020/12/24/0bfa60d58df9494580c305d074a4908e.jpg" />
    </div>
</section>


<section>
    <h1>Доп услуги</h1>
    <div class="cardsContainer">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Услуга</p>
                <p class="card-text">ОТ 10000</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Услуга</p>
                <p class="card-text">ОТ 10000</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Услуга</p>
                <p class="card-text">ОТ 10000</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Услуга</p>
                <p class="card-text">ОТ 10000</p>
            </div>
        </div>
    </div>
</section>



<section>
    <h1>Периферия</h1>
    <div class="cardsContainer">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Перифирия</p>
                <p class="card-text">ОТ 10000</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Перифирия</p>
                <p class="card-text">ОТ 10000</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Перифирия</p>
                <p class="card-text">ОТ 10000</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Перифирия</p>
                <p class="card-text">ОТ 10000</p>
            </div>
        </div>
    </div>
</section>


<section>
    <h1>Отзывы о нас</h1>
    <div class="feedBack">
        <div class="imgContainer">
            <img src="https://games.mail.ru/hotbox/content_files/gallery/2020/12/24/0bfa60d58df9494580c305d074a4908e.jpg" />
        </div>
        <p></p>
    </div>
    <div class="feedBack">
        <div class="imgContainer">
            <img src="https://games.mail.ru/hotbox/content_files/gallery/2020/12/24/0bfa60d58df9494580c305d074a4908e.jpg" />
        </div>
        <p></p>
    </div>
    <div class="feedBack">
        <div class="imgContainer">
            <img src="https://games.mail.ru/hotbox/content_files/gallery/2020/12/24/0bfa60d58df9494580c305d074a4908e.jpg" />
        </div>
        <p></p>
    </div>
    <div class="feedBack">
        <div class="imgContainer">
            <img src="https://games.mail.ru/hotbox/content_files/gallery/2020/12/24/0bfa60d58df9494580c305d074a4908e.jpg" />
        </div>
        <p></p>
    </div>
</section>