@model AdminPanel.Models.PowerSupplyUnit


<h4>Блок питания</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFactor" class="control-label">Форм-фактор</label>
                <input asp-for="FormFactor" class="form-control" />
                <span asp-validation-for="FormFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power" class="control-label">Мощность</label>
                <input asp-for="Power" class="form-control" type="number"/>
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" type="number"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>
